@media screen and (max-width:1249px) 
{
    #blockPage
    {
        width: 100%;
        margin: auto;
        
    }

    #nav ul li:hover
    {
        border-top: 2px #0065FC solid ;
        color:white;
        
        
    }

    #filtre ul li:hover
    {
        background-color:white;
    }

    a:hover
    {
        
        transform: none;
        transition:none;
        
    }
    
    .blockPopulaire:hover
    {
        transform: none;
        transition: none;
    }

    .miniBlockB:hover
    {
        transform: none;
        transition: none;
    }

    .miniBlockA:hover
    {
        transform: none;
        transition: none;  
    }
        /* header */
    header
    {
        width: auto;
        height: 132px;
        
        justify-content: space-between ;
        flex-wrap:wrap ;
    }
    #logo
    {
        padding-top: 20px;
        position: absolute;
        margin-left: 10px;
    
        
    }

    #nav
    {
        
        width: 100%;
        height: 130px;
        padding-bottom: 5px;
        margin: auto;
        flex-wrap: wrap;
        
    }

    #nav ul 
    {
        width: 100%;
        height: auto;
        justify-content: space-between;
        padding-left: 0px;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
        
        
    }

    #nav ul li 
    {
        
        line-height: 50px;
        margin-right: 0px;
        width: 50%;
        text-align: center;
        

    }

    #nav ul li:hover
    {
        border-top: none;
        border-bottom: 2px #0065FC solid ;
        color: #0065FC;
    
     }

     #inscrire
     {
         font-size: 14px;
         padding-top: 22px;
         margin-right: 15px;
         order: -1;
     }

     /* bloc recherche et filtre */
     #rechercheFiltre h1{
         padding-left: 0px;
         margin:0px;
     }

     #rechercheFiltre p{
         padding-left: 0px;
     }

     #recherche
     {
         margin-left: 0px;
         width: 352px;
         
     }

     #boutonRecherche
     {
       width: 51px;
       border-radius: 20px;
       color: red;
       font-size: 0px;
       padding-bottom: 1px;
       display: none;
     }

     #iconeSearch
     {
        
         font-size: 18px;
         display: inline;
     }
     
     #rechercheFiltre
     {
         transform: scale(0.9);
     }

     #rechercheFiltre h2
     {
         padding-left: 00px;
         margin-top: 0px;
         
     }

     #rechercheFiltre h4
     {
         padding-left: 0px;
     }

     #filtre
     {
        width: 100%;
        padding-left: 0px;
        flex-wrap: wrap;
        margin-top: 62px;
        
    }
     

     #filtre h3
     {
         padding-bottom: 0px;
     }

     #filtre ul 
     {
        width: auto; 
        flex-wrap: wrap;
        margin: 0px;
        padding: 18px;

     }

     #filtre ul li 
     {
         margin-left: -1px;
         margin-bottom: 13px;
         margin-right: 5px;
     }

     #filtre1
     {
         width: 185px;
     }

     /*block hebergement */

     #blockHébergement
    {
        display: flex;
        width: 100%;
        flex-direction: column;

    }

    #blockHe
    {
        width: 100%;
        margin: 0px;
        padding-left: 0px;
        background-color:white;
        max-width: none;
        
    }

    #blockHe article
    {
       width: 100%;
       margin-bottom: 0px;
    }

    #blockHe a{
        transform: scale(0.85); 
    }


    #hébergement img
    {
       width: 343px; 
    }

    .bordureText
    {
        width: 336px;
    }

    #image1
    {
        object-position: 0px -63px;
    }

    #image2
    {
        object-position: 0px -90px;
    }

    #image3
    {
        object-position: 0px -79px;
    }

    #image4
    {
        object-position: 0px -158px;
    }

    #image5
    {
        object-position: 0px -34px;
    }

    #image6
    {
        object-position: 0px -59px;
    }

    aside 
    {
        order: -1;
        width: 100%;
        margin-right: 0px;
        display: flex;
        justify-content: center;

    }

    aside h2
    {
        margin-left: 10px;
        padding-left: 0px;
    }

    #iconChart
    {
        left: 90%;
        width: 30px;
        position: absolute;
    }


    #blockArticlePopu{
        justify-content: center;
        flex-flow: row wrap;
        
    }

    #blockArticlePopu a{

        transform: scale(0.85);
    }

    .bordureTextPopu{
        margin-top: 0px;
    }

    /*  block activiter */



    #blockActivité h2
    {
        padding-left: 0px;
        width: 300px;
        margin-top: 30px;
    }

    #sousBlockA
    {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0px;
        align-items: center;
        flex-flow: row wrap;
        
        
        
    }

    #sousBlockA a{
        width: 100%;
        

    }

    .grandBlock
    {
        width: 305px;
        height: 188px;
        margin-left: 0px;
        margin-top: 30px;
        position: relative;
        
        
        
    
    }

    .Gblock:hover
    {
        
        transform: none;
        transition: none;
        z-index: 1;
        
    }

    .titreGrandBlock
    {
        position: relative;
        top: 132px;
        background-color: white;
        width: auto;
        height: 56px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        
    }

    .titreGrandBlock h3
    {
        padding-top: 14px;
    }

    .bordureImgA
    {
        width: 96%;
        height: 100%;
        position: absolute;
    }

    .bordureImgA img
    {
        width: 305px;
        height: auto;
        object-position: 0px -70px;
        object-fit: contain;
        border-radius: 20px;
    }

    #sousBlockA h3
    {
     position: relative;
    }

    .miniBlockA
    {
        width: 305px;
        height: 190px;
    }
    /* fort de pomegue*/
    #GrandeImage
    {
        display: none;
    }

    #PetiteImage
    {
        display: inline;
    }

    /* image de vieux port */

    #imageA1
    {
        display: none;
    }

    #imageB1
    {
        display: inline;
    }

    /* parc nationnal */

    #imageA4
    {
        display: none;
    }

    #imageB4
    {
        display: inline;
    }

    .miniBlockB
    {
        width: 305px;
        height: 188px;
    }

    .bordureImgActiviter
    {
        width: 310px;
    }

    .bordureMiniBlockA
    {
        width: auto;
        top: 128px;
    }

    .bordureMiniBlockB
    {
        width: auto;
        top: 130px;
    }



    .miniBlockA img
    {
        width: 305px;
        object-position: 0px -20px;
        height: 100%;
        
    }

    .miniBlockB img
    {
        width: 305px;
        
        
    }

    #bordureImgActiviterLonchamp{
        width: 305px;
    }


    /* footer */

    footer 
    {
        flex-direction: column;
        width: auto;
        height: 485px;  
        padding-top: 0px;  
        margin-top: 0px;
    }

    .footer
    {
        width: 90%;
        margin-right: 0px;
        padding-left: 0px;
        margin-left: 16px;
    }
 

  
  }

  @media screen and (min-width:320px) and (max-width:376px) 
  {
  

      #recherche
      {
          transform: scale(0.9);
          margin-left: -19px;

      }


  }
      
