@media screen and (min-width:481px) and (max-width:1440px)
 {
    #blockPage
    {
        width: 100%;
        margin: auto;
        
    }

    #nav ul li:hover
    {
        border-top: 2px #0065FC solid ;
        color:white;
        
        
    }

    #filtre ul li:hover
    {
        background-color:white;
    }

    a:hover
    {
        
        transform: none;
        transition:none;
        
    }
    
    .blockPopulaire:hover
    {
        transform: none;
        transition: none;
    }

    .miniBlockB:hover
    {
        transform: none;
        transition: none;
    }

    .miniBlockA:hover
    {
        transform: none;
        transition: none;  
    }
        /* header */
    header
    {
        width: auto;
        height: 132px;
        
        justify-content: space-around ;
        flex-wrap:wrap ;
    }
    #logo
    {
       height: 25px;
        margin-right: 139px;
        margin-left: 20px;
        
    }

    #nav
    {
        order: 1;
        width: 100%;
        height: 50px;
        padding-bottom: 5px;
        margin: auto;
        
    }

    #nav ul 
    {
        width: 100%;
        height: auto;
        justify-content: space-between;
        padding-left: 0px;
        text-align: center;
        
        
    }

    #nav ul li 
    {
        
        line-height: 50px;
        margin-right: 0px;
        width: 50%;
        text-align: center;
        

    }

    #nav ul li:hover
    {
        border-top: none;
        border-bottom: 2px #0065FC solid ;
        color: #0065FC;
    
     }

     #inscrire
     {
         font-size: 14px;
         padding-top: 22px;
         margin-right: 15px;
     }

     /* bloc recherche et filtre */

     #recherche
     {
         margin-left: 0px;
         width: 352px;
         
     }

     #boutonRecherche
     {
       width: 51px;
       border-radius: 20px;
       color: red;
       font-size: 0px;
       padding-bottom: 1px;
       display: none;
     }

     #iconeSearch
     {
        
         font-size: 18px;
         display: inline;
     }
     
     #rechercheFiltre
     {
         transform: scale(0.9);
     }

     #rechercheFiltre h2
     {
         padding-left: 00px;
         margin-top: 0px;
         
     }

     #rechercheFiltre h4
     {
         padding-left: 0px;
     }

     #filtre
     {
        width: 100%;
        padding-left: 0px;
        flex-wrap: wrap;
        margin-top: 64px;
     }

     #filtre h3
     {
         padding-bottom: 0px;
     }

     #filtre ul 
     {
        width: auto; 
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;

     }

     #filtre ul li 
     {
         margin-left: -1px;
         margin-bottom: 13px;
         margin-right: 5px;
     }

     #filtre1
     {
         width: 185px;
     }

     /*block hebergement */

     #blockHébergement
    {
        
        width: 100%;
        flex-direction: column;
        transform: scale(1.1);
        margin-left: 44px;
        margin-top: 85px;

    }

    #blockHe
    {
        width: 100%;
        margin: 0px;
        padding-left: 0px;
        background-color:white;
    }

    #blockHe article
    {
       width: auto;
    }

    #hébergement img
    {
       width: 343px; 
    }

    .bordureText
    {
        width: 336px;
    }

    #image1
    {
        object-position: 0px -63px;
    }

    #image2
    {
        object-position: 0px -90px;
    }

    #image3
    {
        object-position: 0px -79px;
    }

    #image4
    {
        object-position: 0px -158px;
    }

    #image5
    {
        object-position: 0px -34px;
    }

    #image6
    {
        object-position: 0px -59px;
    }

    aside 
    {
        order: -1;
        width: 363px;
        margin-top: -12px;
       
        


    }

    aside h2
    {
        margin-left: 10px;
        padding-left: 0px;
    }

    #iconChart
    {
        left: 331px;
        width: 30px;
    }

    .blockPopulaire
    {
        margin-left: 10px;
    }

    .bordureImgPopu img
    {
        height: 130px;
    }

    /*  block activiter */

    #blockActivité
    {
        margin-top: 1077px;
        transform: scale(1.1);
        margin-left: 44px;
    }

    #blockActivité h2
    {
        padding-left: 0px;
    }

    #sousBlockA
    {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0px;
        
    }

    .grandBlock
    {
        width: 351px;
        height: 188px;
        margin-left: 0px;
        margin-top: 30px;
    
    }

    .titreGrandBlock
    {
        position: relative;
        top: 132px;
        background-color: white;
        width: auto;
        height: 56px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        
    }

    .titreGrandBlock h3
    {
        padding-top: 14px;
    }

    .bordureImgA
    {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .bordureImgA img
    {
        width: 351px;
        height: auto;
        object-position: 0px -69px;
        object-fit: contain;
        border-radius: 20px;
    }

    /* fort pomegue */

    #GrandeImage
    {
        display: none;
    }

    #PetiteImage
    {
        display: inline;
    }



    /* image de vieux port */

    #imageA1
    {
        display: none;
    }

    #imageB1
    {
        display: inline;
    }

    /* parc nationnal */

    #imageA4
    {
        display: none;
    }

    #imageB4
    {
        display: inline;
    }

    #sousBlockA h3
    {
     position: relative;
    }

    .miniBlockA
    {
        width: 351px;
        height: 190px;
    }

    .miniBlockB
    {
        width: 351px;
        height: 188px;
    }

    .bordureImgActiviter
    {
        width: 100%;
    }

    .bordureMiniBlockA
    {
        width: 351px;
        top: 128px;
    }

    .bordureMiniBlockB
    {
        width: 351px;
        top: 130px;
    }



    .miniBlockA img
    {
        width: 351px;
        object-position: 0px -20px;
        height: 100%;
        
    }

    .miniBlockB img
    {
        width: 351px;
        
        
    }

    .miniBlockB
    {
        width: 351px;
    }

    /* footer */

    footer 
    {
        flex-direction: column;
        width: auto;
        height: 485px;  
        padding-top: 0px;  
        margin-top: 90px;
    }

    .footer
    {
        width: 100%;

    }

  }
  @media screen and (min-width:530px) and (max-width:768px)
  {
    #blockHébergement
    {
        
        margin-left: 27px;
        width: auto;
        transform: none;
        margin-top: 20px;
        
    }  

    #blockHe
    {
        width: auto;
    }

    #hébergement
    {
        display: flex;
        flex-wrap: wrap;
    }

    
    aside
      {
        display: flex; 
        width: auto;
        height: auto;
       }

    aside h2 
    {
        margin-left: 31px;
    }


    
    #iconChart 
    {
        left: 736px;
    }
    
      .blockPopulaire
      {     
        width: 344px;
        height: auto;
        
      }
      #blockArticlePopu
      {
          display: flex;
          flex-wrap: wrap;
          margin-top: 40px;
          
      }

      #blockActivité
      {
          margin-top: 870px;
          transform: none;
          margin-left: 26px;
      }

  }

  @media screen and (min-width:769px) and (max-width:1440px)
  {
    
    #blockHébergement
    {
        transform: none;
        margin-top: 20px;
    }

    #blockHe
    {
        margin-left: 19px;
    }

    #hébergement
    {
        display: flex;
        flex-wrap: wrap;
        
        justify-content: left;
    }

    aside
    {
      display: flex; 
      width: auto;
      height: auto;
      
     }

     aside h2 
     {
         margin-left: 19px;
     }

    #iconChart
     {
        left: 718px;  
     }
    
    #blockArticlePopu
      {
          display: flex;
          margin-left: -20px;          
          margin-top: 40px;
          margin-bottom: 20px;
          flex-wrap: wrap;
     
      }

      .blockPopulaire
      {     
        width: 344px;
        height: auto;
        
      }

      #blockActivité
      {
        margin-top: 858px;
        transform: none;
        margin-left: 63px;
      }

      #sousBlockA
      {
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: left;
      }
  }

  @media screen and (min-width:814px) and (max-width:1440px)
  {
    #blockActivité
    {
        margin-top: 158px;
    }  
    
    .grandBlock
      {
          height: 445px;
    
      }

      .bordureImgA img
      {
          object-position: 0px  -77px;
      }

      .titreGrandBlock
      {
          top: 379px;
      }

      .miniBlockA
      {
          height: 236px;
          margin-top: 29px;
      }
      .miniBlockA img
      {
          object-position: 0px 0px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px; 
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          
      }

      .bordureMiniBlockA
      {
          top: 166px;
      }

      .miniBlockB 
      {
          height: 172px;
          margin-top: 29px;
      }

    

      .bordureMiniBlockB
      {
          top: 116px;
      }

        /* image de vieux port */

    #imageA1
    {
        display: inline;
    }

    #imageB1
    {
        display: none;
    }

    /* parc nationnal */

    #imageA4
    {
        display: inline;
    }

    #imageB4
    {
        display: none;
    }
  }
  
  @media screen and (min-width:1176px) and (max-width:1440px)
  {
    #blockActivité
    {
        margin-top: -70px;
    }
  }

  @media screen and (min-width:531px) and (max-width:852px)
  {
      #iconChart
      {
          left: 355px;
      }
  }

  @media screen and (min-width:1246px) and (max-width:1440px)
  {
      #iconChart
      {
          left: 1102px;
      }
  }

  @media screen and (min-width:875px) and (max-width:1440px)
  {
    #logo 
    {
        margin-left: 42px;
    }
    #nav
    {
        order: 0;
        display: flex;
        width:auto;
        margin-top: 22px;
        margin-bottom: 30px;
        margin-right: 30px;
    } 

    #nav ul 
    {
        text-align: center;
    }

    #nav ul li
    {
        width: 120px;
        text-align: center;
        margin-right: 48px;
    }

    #filtre
     {
         margin-top: 82px;
     }

     #filtre h3 
     {
         margin-top: 20px;
         margin-right: 20px;
     }
  }

  @media screen and (min-width:896px) and (max-width:1440px)
  {
     #filtre
     {
         margin-top: 104px;
     }

     #filtre h3 
     {
         margin-top: 12px;
         margin-right: 20px;
     }
  }

  @media screen and (min-width:1000px) and (max-width:1440px)
  {
     #filtre
     {
         margin-top: 104px;
        
     }

     #filtre h3 
     {
         margin-top: 12px;
         margin-right: 20px;
     }
  }
      
