@media screen and (min-width:628px) and (max-width:1249px)
 {
    .grandBlock{
        height: 415px;
    }
    .titreGrandBlock{
        top: 358px;
    }

    #imageB1{
        display: none;
    }
    #imageA1{
        display: inline;
    }

    #imageB4{
        display: none;
    }
    #imageA4{
        display: inline;
    }
    .bordureImgA img{
        object-position: 0px -33px;
    }
    #blockBBis{
        margin-top: 20px;
    }
 } 