body
{
    font-family: 'Raleway', sans-serif;
}
#blockPage
{
    width: 1440px;
    margin: auto;
}

/* header */
header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*border: 2px black solid;  */
}
  /* navigation  dans le header */
#nav ul
{
    display:flex;
    list-style: none;
    color:black;
    
}

#nav ul li:hover
{
    border-top: 2px #0065FC solid ;
    color: #0065FC;
    
    
}

#nav ul li
{
    margin-right:65px ;
    height: 100px;
    padding-top: 12px;
    line-height: 100px;
    font-weight: 700;
   
   
}

#inscrire
{
    color:#0065FC ;
}

 /* logo dans le header */
#logo
{
    margin-left: 53px;
    padding-top: 50px;
}

/* banniere de recherche et de filtre */
#rechercheFiltre
{
    width: 100%;
    
    padding-left: 53px;
}



#rechercheFiltre h2
{
    margin-bottom: 3px;
}
 
#rechercheFiltre h4
{
    font-weight: 500;
    font-size: 1.1em;
    margin-top: 5px;
}
#recherche
{
    display: flex;
    border-top: 1px #f2f2f2 solid;
    border-bottom: 2px #f2f2f2 solid;
    border-radius: 20px;
    width: 436px;
    height: 50px;
}

#boutonRecherche
{
    height: 51px;
    width: 135px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:#0065fc;
    color: white;
    font-weight: 400;
    font-size: 1.2em;

}

#champText
{
    height: 49px;
    width: 234px;
    border: none;
    padding-left: 10px;
    font-weight: 700;
    font-size: 1.2em;
    color: black;
}

#logoIci
{
    width:32px;
    height: 33px;
    background-color:#f2f2f2 ;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 18px;
    padding-top: 17PX;
}

#filtre
{
    display: flex;
    margin-top: 30px;
}

#filtre h3
{
    margin-top: 29px;
}

#filtre ul 
{
    display: flex;
    padding-left: 15px;
    
    
}

#filtre ul li
{
    height: 46px;
    list-style-type: none;
    margin-right: 12px;
    margin-left: 10px;
    border: 1.5px #f2f2f2 solid ;
    border-radius: 40px;
    font-weight: 700;
    padding-right: 1px;

}



#iconeFiltre1
{
    margin-right: 28px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: #deebff;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 13px;
    padding-top: 14px;
    padding-bottom: 16px;
    color: #0065fc;
}

#iconeFiltre2
{
    margin-right: 28px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: #deebff;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 13px;
    padding-top: 14px;
    padding-bottom: 16px;
    width: 19px;
    color: #0065fc;
}

#iconeFiltre3
{
    margin-right: 28px;
    margin-top: -2px;
    border-radius: 40px;
    background-color: #deebff;
    font-size: 20px;
    padding-left: 14px;
    padding-right: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
   
    color: #0065fc;
}

#iconeFiltre4
{
    margin-right: 28px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: #deebff;
    font-size: 20px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #0065fc;
}

#filtre1
{
    width: 209px;
    margin-left: 1px;
}

#filtre2
{
    width: 158px;
}

#filtre3
{
    width: 200px;
}

#filtre4
{
    width: 232px;
}

#rechercheFiltre h4
{
    
}

#info
{
    margin-top: 1px;
    margin-right: 15px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 16px;
    width: 15px;
    border: 2px #f2f2f2 solid;
    color:#0065fc ;
}

#blockHébergement
{
    border: 2px black solid;
    width: 100%;
    padding-left: 53px;
    display: flex;
    justify-content: space-between;
}

#blockHe
{
    background-color:#f2f2f2 ;
    height: 625px;
    width:880px ;
    border: 2px black solid;
    border-radius: 3%;
}

aside
{
    background-color:#f2f2f2;
    width: 417px;
    height: 625px;
    border: 2px black solid;
    border-radius: 3%;
}